@media screen and (min-width: 1860px){
    #why_niche, #real_niche{
        top: -300px;
    }
    .slider-padding{
        padding-top: 10rem !important;
    }
    #stay_on_track{
        top: -20rem;
    }
    .green-svg{
        height: 950px !important;
    }
    .real-content{
        top: -25rem !important;
    }
    #your_school{
        top: -30rem;
    }
    #rankings, #partners{
        top: -45rem;
    }
    /* #partners{
        top: -50rem;
    } */
    #not_sure{
        top: -45rem;
    }
    .footer{
        top: -35rem !important;
    }
    #logo{
        top: -6rem !important;
    }
    .real-niche-svg{
        height: 905px !important;
    }
}

.splide__slide{
    padding: 0 0 6rem 0;
    display: flex;
    justify-content: center;
    /* background: #000 ; */

}

.splide__slide__container{
    width: 600px;
    text-align: center;
}

.slide__content{
    text-align: left;
}

.slide-img__wrapper{
    display: flex;
    align-items: center;
}

.slide-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.slide-img__caption span{
    color: #2E86C1 ;
    font-weight: 500;
}

.splide__pagination button{
    background-color: #9ca3af;
}

.splide__pagination__page.is-active{
    background-color: #052e16;
}

.splide__pagination__page{
    width: 12px;
    height: 12px;
    margin: 8px;
}

.splide__arrows{
    display: none;
}

.slide__content p{
    color: #363d88;
}

.notSure-animation{
    animation-name: image_float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes image_float{
    0%{transform: translateY(0);}
    50%{transform: translateY(-20px);}
    100%{transform: translateY(0);}
}

.odd-logo-animation{
    animation-name: odd-logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes odd-logo{
    0%{scale: 1.1 1.1;}
    50%{scale: 0.90 0.90}
    100%{scale: 1.1 1.1;}
}

.even-logo-animation{
    animation-name: even-logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes even-logo{
    0%{scale: 0.90 0.90;}
    50%{scale: 1.1 1.1}
    100%{scale: 0.90 0.90;}
}

.btn-animation{
    transition: 0.5s transform linear;
}

.btn-animation:hover{
    transform: scale(1.2);
}

.slider-animation{
    position: relative;
    z-index: -99;
    transform: translateY(-1000px);
    transition: 2s all ease;
}

.slider-animation.active{
    transform: translateY(0);
    z-index: 99;
}

.niche-bottom-animation{
    position: relative;
    z-index: -99;
    transform: translateY(100px);
    transition: 2s all ease;
}

.niche-bottom-animation.active{
    transform: translateY(0);
    z-index: 99;
    opacity: 1;
}

.niche-right-animation{
    position: relative;
    z-index: -99;
    transform: translateX(1000px);
    transition: 2s all ease;
    transition-timing-function: ease-in-out;
}

.niche-right-animation.active{
    transform: translateX(0);
    z-index: 99;
    overflow: hidden;
}

.niche-left-animation{
    position: relative;
    z-index: -99;
    transform: translateX(-1200px);
    transition: 2s all ease;
    transition-timing-function: ease-in-out;
}

.niche-left-animation.active{
    transform: translateX(0);
    z-index: 99;
    opacity: 1;
}

.rotate{
    animation: rotation 8s infinite linear;            
}

@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}